bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
mypy==0.790
tox==3.14.0
coverage==4.5.4
Sphinx==3.3.1
sphinx-theme==1.0
twine==1.14.0
sphinx-rtd-theme==0.5.0
pylint==2.6.0
pytest==4.6.5
pytest-runner==5.1
typing_extensions
pytest==4.6.5
sphinx_autodoc_typehints==1.12.0
